.footer {
  background: $mainColorLighter;
  padding: 2em;
  .social__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .navigation__socialIcons {
      ul {
        display: flex;
        flex-flow: column wrap;
        .fa-github,
        .fa-linkedin,
        .fa-envelope {
          width: 2em;
          height: 2em;
          margin: 1em;
        }
        li a {
          color: $white;
          &:hover {
            color: $descriptionColor;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .footer {
    .social__wrapper {
      flex-flow: column wrap; 
      .navigation__socialIcons {
        ul {
          margin: 1em 0 1em 0;
          flex-flow: row wrap;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .footer {
    .social__wrapper {
      .navigation__social__icons {
        ul {
          flex-flow: row wrap;
        }
      }
    }
  }
}
