.navigation__container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#Home {
  margin-top: 5em;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background: $navigationColor;
  nav {
    width: 100%;
  }
  a {
    display: block;
    padding: 0 1em;
    color: #fff;
    text-decoration: none;
  }
}

.hamburger__icon {
  position: absolute;
  cursor: pointer;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
  transform: translate(-5%, -50%);
  z-index: 2;
  padding: 1em;
}

.close__icon {
  position: fixed;
  cursor: pointer;
  right: 0;
  top:0;
  z-index: 3;
  opacity: 0;
  transition: all 0.5s ease;
  display: none;
  padding: 1em;
  svg.fa-times-circle {
    color: $white;
    width: 2em;
    height: 2em;
  }
}

.line {
  width: 30px;
  height: 3px;
  background: $white;
  margin: 5px;
}

.navigation__links {
  position: fixed;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.5s ease;
  z-index: 2;
  background: $navigationColor;
}

.navigation__links.open {
  clip-path: inset(0 0 0 0%);
  align-items: flex-start;
}

.navigation__links.open + .close__icon {
  display: block;
}

.navigation__links li {
  opacity: 0;
}

.navigation__links li.fade {
  opacity: 1;
  padding: 1em;
}

.navigation__links li.fade:hover {
  cursor: pointer;
}

.navigation__links li a {
  font-size: 25px;
}

.navigation__links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.navigation__links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.navigation__links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

.navigation__links li:nth-child(4) {
  transition: all 0.5s ease 0.8s;
}

.navigation__links.open + .close__icon {
  opacity: 1;
}

.navigation__social__icons {
  display: none;
}

@media only screen and (min-width: 800px) {
  #Home {
    margin-top: 0em;
  }

  .navigation__container {
    background: $navigationColor;
    position: static;
    a {
      color: #fff;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    nav {
      width: auto;
    }
    ul {
      display: flex;
      a {
        display: block;
        padding: 0 1em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .navigation__links + .close__icon,
  .navigation__social__icons,
  .hamburger__icon,
  .close__icon {
    display: none;
  }
  .navigation__links {
    position: static;
    flex-direction: unset;
    width: auto;
    clip-path: none;
    transition: none;
    z-index: unset;
    justify-content: flex-end;
    li {
      opacity: 1;
      a {
        font-size: 1em;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .navigation__container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: $navigationColor;
    }
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .navigation__social__icons {
    padding: 2em 4em 2em 0;
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
      .fa-github,
      .fa-linkedin,
      .fa-envelope {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
  .navigation__social__icons ul li a svg {
    color: $descriptionColor;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .navigation__social__icons {
    padding: 2em 10em 2em 0;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .navigation__social__icons {
    padding: 2em 20em 2em 0;
  }
}
