@mixin delay {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      transition: all 1s #{$i * 0.3}s ease-in;
    }
  }
}

.projects {
  background: #f7f7f7;

  .project__container:not(:first-of-type) {
    border-top: 2px solid $mainColorDark;
    padding-top: 1em;
  }

  .project__title {
    text-transform: uppercase;
    font-weight: bold;
    color: $mainColorDark;
    letter-spacing: 0.3em;
    font-size: 0.85em;
  }

  .project__link {
    display: flex;
    align-items: center;
    justify-content: center;
    .project__linkIcon {
      width: 1.2em;
      height: 1.2em;
      margin: 0.4em 0 0 1em;
    }
  }
  .project__link a {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 0.4em;
    display: block;
  }

  .project__link:hover .project__linkIcon,
  .project__link:hover a {
    cursor: pointer;
    color: $mainColorDark;
  }

  .project__description {
    color: $descriptionColor;
    margin-bottom: 3em;
    font-size: 0.85em;
    line-height: 1.8em;
  }
  .project__container img {
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: none;
  }
  .project__detailsWrapper {
    grid-area: project-description;
  }
  .project__image {
    grid-area: project-image;
    position: relative;
  }

  .project__imageTechstack {
    width: 100%;
    height: calc(100% - 1.9em);
    position: absolute;
    background: rgba(75, 75, 75, 0.85);
    border-radius: 0.5em;
    clip-path: inset(0% 0% 0% 100%);
    transition: all 0.75s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: $white;
      font-size: 2em;
    }
    .fa-react {
      color: #61dbfb;
    }
    .fa-js {
      color: #f7e420;
    }
    .fa-sass {
      color: #c69;
    }
  }

  .project__imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project__imageWrapper svg {
    color: $white;
    margin: 1em;
    width: (100% / 3);
    height: 50%;
    opacity: 0;
    @include delay;
  }
  .project__image:hover .project__imageTechstack {
    clip-path: inset(0% 0% 0% 0%);
  }
  .project__image:hover .project__imageTechstack svg {
    opacity: 1;
  }
}

@media only screen and (min-width: 800px) {
  .projects {
    padding: 5em;
    .project__container:not(:first-of-type) {
      border-top: none;
      padding-top: 0;
    }
    .project__title {
      border-top: none;
      padding-top: 0;
    }
    .project__title:first-of-type {
      border-top: none;
      padding-top: 0;
    }
  }
  .project__container .project__wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "project-description project-image";
  }
  .project__detailsWrapper {
    display: grid;
    place-content: center;
  }
  .project__image {
    padding: 0 0.5em;
  }
  .projects .project__imageTechstack {
    width: calc(100% - 1em);
    height: calc(100% - 2em);
  }
}

@media only screen and (min-width: 1550px) {
  .projects {
    .project__container {
      padding: 0 15em;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .projects {
    .project__container {
      padding: 0 25em;
    }
    .project__title {
      font-size: 1em;
    }
    .project__link {
      font-size: 1.45em;
    }
    .project__description {
      font-size: 1em;
    }
  }
}
