.skills {
  background: $mainColorLight;
}

.skills__container ul li {
  background: $white;
  padding: 2em;
  border-radius: 1em;
  margin: 0 0 1em 0;
  .skill__icon {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    svg {
      height: 100px;
      width: 100px;
    }
    .React {
      filter: invert(71%) sepia(69%) saturate(791%) hue-rotate(166deg)
        brightness(105%) contrast(97%);
    }
    .JS {
      filter: invert(96%) sepia(92%) saturate(5197%) hue-rotate(338deg)
        brightness(102%) contrast(94%);
    }
    .CSS {
      filter: invert(55%) sepia(73%) saturate(6747%) hue-rotate(190deg)
        brightness(82%) contrast(80%);
    }
  }
  .skill__title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;
  }
}

@media only screen and (min-width: 800px) {
  .skills {
    margin: -5em 0 -3em 0;
    padding: 7em 0 0 0;
  }

  .skills__container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 1250px) {
  .skills {
    padding: 7em 8em 0em 8em;
  }
}
