.welcome__wrapper {
  color: $white;
  display: grid;
  text-align: center;
  .welcome__leftSide {
    background: $mainColor;
    padding: 4em;
    svg:last-child {
      animation: bounce 2s ease-in-out infinite;
    }
  }
  .welcome__rightSide {
    display: none;
  }
  .welcome__getInTouch {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    svg.handshake {
      display: block;
      margin-right: 1em;
      height: 2em;
      width: 2em;
    }
  }

  svg.welcome__handshakeIcon {
    width: 30px !important;
    height: 30px;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .welcome__wrapper {
    text-align: center;
    padding: 0;
    .welcome__leftSide {
      padding: 4em;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .welcome__wrapper {
    height: 85vh;
    text-align: center;
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .welcome__leftSide {
      background: $mainColor;
      padding: 6em 8em 6em 4em;
      text-align: left;
      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
      .welcome__getInTouch {
        margin: 1em 0;
        justify-content: flex-start;
      }
    }
    .welcome__rightSide {
      display: block;
      margin: 5% 0 0 -50%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .welcome__wrapper {
    .welcome__leftSide {
      padding: 6em 8em 6em 10em;
    }
  }
}

@media only screen and (min-width: 1550px) {
  .welcome__wrapper {
    .welcome__leftSide {
      padding: 9em 20em 6em 20em;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}
