.Projects {
  background: #f7f7f7;
  transition: var(--theme-transition);
}

.ProjectsDark {
  background: var(--descriptionColorThemeDark);
  transition: var(--theme-transition);
}

@media only screen and (min-width: 800px) {
  .Projects {
    padding: 5em;
  }
}
