.about {
  max-width: 45rem;
  text-align: center;
  line-height: 2rem;
  margin: 0 0 7rem 0;
}

.paragraph {
  margin: 0 0 1rem 0;
}

@media all and (max-width: 640px) {
  .sectionAbout {
    scroll-margin-bottom: 10rem;
  }
}
