:root {
  --bg-color: #f9fafb;
  --font-color: #030712;
  --gray-50: #f9fafb;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-800: #1e293b;
  --gray-950: #111827;
  --zinc-700: #3f3f46;
  --white: #fff;
  --bg-light: linear-gradient(135deg, #00ffff, #00d4ff, #0099ff, #0066cc);
  --bg-dark: linear-gradient(135deg, #003d4d, #005266, #006b80, #008599);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  --line-color: rgba(0, 122, 204, 0.6);
  width: 100%;
  height: 100%;
}

html body.body-dark-mode {
  --line-color: rgba(0, 122, 204, 0.4);
}

body {
  background: var(--bg-light);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--font-color);
  position: relative;
  padding: 1rem 0 0 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-dark-mode {
  background: var(--bg-dark);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--gray-50);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-width: 300px;
  flex: 1;
}

/* shared classes */

.section-heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 2rem 0;
  text-align: center;
}

.transition {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.transition-150 {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-250 {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.spinner {
  height: 1.25rem;
  width: 1.25rem;
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  border: 2px solid #000;
  border-top: 2px solid var(--white);
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/* animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
