.DetailsWrapper {
  grid-area: project-description;
}

.ImageWrapper {
  grid-area: project-image;
  position: relative;
}

@media only screen and (min-width: 800px) {
  .Wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "project-description project-image";
  }

  .DetailsWrapper {
    display: grid;
    place-content: center;
  }
}
