.skills {
  margin-bottom: 7rem;
  max-width: 53rem;
}

.skillsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(31, 41, 55);
}

@media all and (max-width: 640px) {
  .skills {
    margin-bottom: 5rem;
  }

  .skillsList {
    padding: 0;
  }
}
