.footer,
.footerDark {
  margin: 0 0 2rem 0;
  padding: 1rem;
  text-align: center;
}

.footer {
  color: var(--font-color);
}

.footerDark {
  color: var(--gray-50);
}

.copyright {
  margin: 0 0 1rem 0;
  font-size: 0.75rem;
  line-height: 1rem;
  display: block;
}

.information {
  font-size: 0.75rem;
  line-height: 1rem;
}
