.Icon {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
  -ms-transform: translate(-5%, -50%);
  transform: translate(-5%, -50%);
  z-index: 2;
  padding: 1em;
}
.Line {
  width: 30px;
  height: 3px;
  background: var(--white);
  transition: var(--theme-transition);
  margin: 5px;
  transition: all 0.2s linear;
}
.Icon:hover {
  cursor: pointer;
}

.Icon:hover .Line:nth-child(odd) {
  width: 25px;
  margin-left: auto;
}
.Icon:hover .Line:nth-child(even) {
  width: 25px;
  margin-right: auto;
}

@media only screen and (min-width: 800px) {
  .Icon {
    opacity: 0;
    display: none;
  }
}
