// $mainColor: #9c30cf;
// $mainColorDark: #8614b9;
// $mainColorLight: #b247e5;
// $mainColorLighter: #d69df1;
// $navigationColor: #8d1ec1;
// $navigationColorRgba: rgba(141, 30, 193, 0.9);
// $descriptionColor: #3b3b3b;
// $white: #fff;
$mainColor: #2472ff;
$mainColorDark: #105eff;
$mainColorLight: #3886ff;
$mainColorLighter: #4c9aff;
$navigationColor: #105eff;
$navigationColorRgba: rgba(16, 94, 255, 0.9);
$descriptionColor: #3b3b3b;
$white: #fff;
@import "partials/reset";
@import "partials/fonts";
@import "partials/navigation";
@import "partials/welcome";
@import "partials/featproj";
@import "partials/skills";
@import "partials/projects";
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

section {
  padding: 4em 2em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 10em 10em 4em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 6em 20em 4em 20em;
  }
}