$mainColor: #2472ff;
$mainColorDark: #105eff;
$mainColorLight: #3886ff;
$mainColorLighter: #4c9aff;
$descriptionColor: #3b3b3b;
$white: #fff;
$gold: #ffd700;


$mainColorThemeDark: #1f242a;
$mainColorDarkThemeDark: #090b0d;
$mainColorLightThemeDark: #2a3139;
$mainColorLighterThemeDark: #353d47;
$descriptionColorThemeDark: #6c6c6c;

@import "modules/themes";
@import "partials/reset";
@import "partials/fonts";
@import "partials/navigation";
@import "partials/welcome";
@import "partials/lastproj";
@import "partials/skills";
@import "partials/projects";
@import "partials/contact";
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

section {
  padding: 4em 2em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1050px) {
  section {
    padding: 4em;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 10em 10em 4em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  section {
    padding: 6em 20em 4em 20em;
  }
}